@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

$radius: 0.6rem;

:root {
    --c-main-text: hsl(243, 100%, 93%);
    --c-secondary-text: hsl(229, 7%, 55%);
    --c-main-bg: hsl(228, 56%, 26%, 0.3);
    --c-secondary-bg: hsl(229, 57%, 11%);
    --c-gradient-1: hsl(6, 100%, 80%);
    --c-gradient-2: hsl(335, 100%, 65%);

    --f-size-header: clamp(1.25rem, 11.2vw - 1.4rem, 1.6rem);
    --f-size-text: clamp(0.8175rem, 9vw - 1.3rem, 1.1rem);
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

.progress-bar {
    position: relative;
    inline-size: 100%;
    block-size: 1em;
    background-color: var(--c-secondary-bg);
    border: 3px solid var(--c-secondary-bg);
    border-radius: 3rem;
    > .progress-value {
        position: relative;
        overflow: hidden;
        background-image: linear-gradient(
            to right,
            var(--c-gradient-1),
            var(--c-gradient-2)
        );
        border-radius: inherit;
        inline-size: 0;
        block-size: 100%;
        animation: progress 2s 0.5s forwards;
        @keyframes progress {
            to {
                inline-size: ((815 * 100) / 1000) * 1%;
            }
        }
        &::after {
            content: "";
            position: absolute;
            inset-inline-end: 2px;
            inset-block-start: 50%;
            transform: translateY(-50%);
            block-size: 80%;
            aspect-ratio: 1;
            background-color: white;
            border-radius: 50%;
        }
    }
}

a {
    color: var(--c-gradient-1);
    &:hover {
        text-decoration: none;
    }
}

h1 {
    font-size: var(--f-size-header);
}

button {
    user-select: none;
}

body {
    padding: 2.5em 2em;
    min-block-size: 100vh;
    font-family: "Raleway", sans-serif;
    font-size: var(--f-size-text);
    line-height: 1.4;
    background: var(--c-secondary-bg) url(../../images/bg-mobile.png) center
        center / cover no-repeat;
    color: var(--c-main-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    > {
        footer.attribution {
            text-align: center;
            margin-block-start: 1rem;
            > span {
                padding: 0 0.25em;
                word-spacing: 0.1em;
                > a {
                    font-weight: bolder;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }
        }
    }
    @media (min-width: 64em) {
        background: {
            image: url(../../images/bg-desktop.png);
            position: bottom;
            size: 100vw 60vh;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    > {
        section {
            backdrop-filter: blur(6px) brightness(0.9);
            border: 1px solid currentColor;
            background-color: var(--c-main-bg);
            border-radius: $radius;
            padding: 2em;
        }
        section.menu-section {
            border-start-end-radius: $radius * 10;
            > {
                #brand-logo {
                    background: url(../../images/logo.svg) 0 0 / contain
                        no-repeat;
                    block-size: 2.5em;
                    margin-block-end: 1.5em;
                }
                menu.upload-menu {
                    button {
                        cursor: pointer;
                        border-radius: $radius;
                        background-color: var(--c-secondary-bg);
                        border: 2px solid transparent;
                        inline-size: 20%;
                        aspect-ratio: 1;
                        margin-inline-end: 5%;
                        vertical-align: middle;
                        transition: border-color 0.25s, filter 0.25s, transform,
                            0.25s;
                        &:hover {
                            border-color: var(--c-gradient-2);
                            filter: drop-shadow(2px 4px 6px black);
                            transform: translateY(-0.25em);
                        }
                    }
                }
            }
        }
        section.storage-section {
            position: relative;
            > {
                p {
                    margin-block-end: 1em;
                    inline-size: max-content;
                }
                .progress-bar {
                    margin-block-end: 2.5em;

                    &::before,
                    &::after {
                        position: absolute;
                        inset-block-start: 100%;
                        margin-block-start: 0.5em;
                        font-weight: 700;
                    }

                    &::before {
                        content: attr(data-value) " GB";
                        inset-inline-start: 0;
                    }
                    &::after {
                        content: attr(data-value-max) " GB";
                        inset-inline-end: 0;
                    }
                }
                .remainder-storage {
                    position: absolute;
                    inset-inline-start: 50%;
                    inset-block-start: 100%;
                    transform: translate(-50%, -50%);
                    font-weight: 700;
                    word-spacing: 0.2em;
                    padding: 0.8em 1.2em;
                    inline-size: max-content;
                    background-color: white;
                    color: var(--c-secondary-text);
                    border-radius: $radius;
                    > strong {
                        color: var(--c-secondary-bg);
                        font-size: 2em;
                    }
                }
            }
        }
    }
    @media (min-width: 64em) {
        flex-direction: row;
        max-inline-size: 62.5rem;
        inline-size: 80vw;
        > {
            section {
                flex: 2 1;
                padding: 2.5em;
            }
            section.storage-section {
                align-self: end;
                flex-grow: 4;
                > {
                    .progress-bar {
                        margin-block-end: 1em;
                    }
                    .remainder-storage {
                        inset: initial;
                        inset-inline-end: 0;
                        inset-block-start: 0;
                        transform: translate(-25%, -75%);
                        border-end-end-radius: 0;
                        &::after {
                            content: "";
                            border-inline-start: 1.5em solid transparent;
                            border-block-start: 1.5em solid white;
                            position: absolute;
                            inset-inline-end: 0;
                            inset-block-start: 95%;
                        }
                    }
                }
            }
        }
    }
}
