@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

$font-size-header: clamp(2.5rem, 16vw - 1.2rem, 3rem);
$font-size-paragraph: clamp(0.9rem, 9.6vw - 1.3rem, 1.2rem);

$box-mg-block: 1rem;

$radius: 0.8rem;
$radius-pp: 50%;

:root {
    --c-accent: hsl(300, 43%, 22%);
    --c-user-sub-text: hsl(333, 80%, 67%);
    --c-header-sub-text: hsl(303, 10%, 53%);
    --c-review-bg: hsl(303, 10%, 53%, 0.1);
    --c-main-bg: hsl(300, 24%, 96%);
    --c-main-text: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

body {
    @media (prefers-color-scheme: dark) {
        background-color: var(--c-accent);
        color: var(--c-header-sub-text);
    }
    @media (min-width: 64em) {
        font-size: clamp(1.2rem, 1.2vw + 0.5rem, 1.5rem);
        background: {
            image: url(../../images/bg-pattern-top-desktop.svg),
                url(../../images/bg-pattern-bottom-desktop.svg);
            size: auto;
        }
        padding: 5rem;
        gap: 5rem;
        grid-template-columns:
            [hdr-start main-start] repeat(6, 1fr)
            [hdr-end sect-start] repeat(6, 1fr) [sect-end main-end];
        grid-template-rows:
            [hdr-start sect-start] auto
            [hdr-end sect-end main-start] auto [main-end];
        place-content: center;
        text-align: initial;
        > {
            header {
                grid-area: hdr;
                inline-size: initial;
            }
            section.review {
                grid-area: sect;
            }
            main.user-feedback-container {
                grid-area: main;
                inline-size: 100%;
            }
        }
    }
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    max-inline-size: 90rem;
    margin-inline: auto;
    display: grid;
    row-gap: 2em;
    padding: 3.5rem 1.1rem;
    min-block-size: 100vh;
    font-family: "League Spartan", sans-serif;
    font-size: $font-size-paragraph;
    line-height: 1.25em;
    background: {
        image: url(../../images/bg-pattern-top-mobile.svg),
            url(../../images/bg-pattern-bottom-mobile.svg);
        position: left top, right bottom;
        size: 100% auto;
        repeat: no-repeat;
        color: var(--c-main-bg);
    }
    color: var(--c-main-text);
    text-align: center;
    > * {
        @media (min-width: 64em) {
            margin-inline: initial;
        }
        margin-inline: auto;
        inline-size: min(26.5625rem, 100%);
    }
}

h1 {
    @media (min-width: 64em) {
        font-size: clamp(3rem, 6.9vw - 1.4rem, 4rem);
    }
    font-size: $font-size-header;
    line-height: 0.85em;
    letter-spacing: -0.05em;
}

a {
    color: var(--c-user-sub-text);
    &:hover {
        text-decoration: none;
    }
}

header {
    animation: top-to-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 normal
        forwards;
    @keyframes top-to-bottom {
        0% {
            transform: translateY(-25%);
            opacity: 0.5;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    > {
        h1 {
            @media (prefers-color-scheme: dark) {
                color: var(--c-main-bg);
                text-shadow: 2px 1px var(--c-accent),
                    4px 2px var(--c-header-sub-text);
                animation: h1-shadow 1s cubic-bezier(0, 0, 0.34, 0.68) 1s 2
                    alternate both;
                @keyframes h1-shadow {
                    from {
                        text-shadow: 2px 1px var(--c-accent),
                            4px 2px var(--c-header-sub-text);
                    }
                    50% {
                        text-shadow: -2px 1px var(--c-accent),
                            -4px 2px var(--c-header-sub-text);
                    }
                    75% {
                        text-shadow: -2px -1px var(--c-accent),
                            -4px -2px var(--c-header-sub-text);
                    }
                    to {
                        text-shadow: 2px -1px var(--c-accent),
                            4px -2px var(--c-header-sub-text);
                    }
                }
            }
            @media (min-width: 64em) {
                margin-inline: 0;
            }
            color: var(--c-accent);
            margin: 0.5em 1em;
            text-shadow: 2px 1px var(--c-user-sub-text), 4px 2px var(--c-accent);
        }
        p {
            color: var(--c-header-sub-text);
        }
    }
}

section.review {
    @media (min-width: 64em) {
        white-space: nowrap;
        inline-size: 100%;
        display: flex;
        flex-direction: column;
        > {
            .rev-box:nth-child(1) {
                align-self: start;
            }
            .rev-box:nth-child(2) {
                align-self: center;
            }
            .rev-box:nth-child(3) {
                align-self: end;
            }
        }
    }
    > .rev-box {
        margin-block: $box-mg-block;
        padding: 1em 2em;
        background-color: var(--c-review-bg);
        border-radius: $radius;
        animation: swing-in-top-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s
            alternate both;
        @keyframes swing-in-top-fwd {
            0% {
                transform: rotateX(-100deg);
                transform-origin: top;
                opacity: 0.5;
            }
            100% {
                transform: rotateX(0deg);
                transform-origin: top;
                opacity: 1;
            }
        }

        > {
            @media (min-width: 64em) {
                * {
                    display: inline-block;
                }
                .icon-star-container {
                    margin-inline-end: 1em;
                }
            }
            .icon-star-container {
                &:before {
                    content: url(../../images/icon-star.svg)
                        url(../../images/icon-star.svg)
                        url(../../images/icon-star.svg)
                        url(../../images/icon-star.svg)
                        url(../../images/icon-star.svg);
                }
            }
            p {
                @media (prefers-color-scheme: dark) {
                    color: hsl(300deg 100% 93%);
                }
                font-weight: 700;
                color: var(--c-accent);
            }
        }
    }
}

main.user-feedback-container {
    @media (min-width: 64em) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 32%));
        column-gap: 1rem;
        min-block-size: 20em;
        justify-content: center;
    }
    text-align: initial;
    > .user-feedback {
        &:nth-child(1) {
            animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
                alternate both;
        }
        &:nth-child(2) {
            animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
                alternate both;
        }
        &:nth-child(3) {
            animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
                alternate both;
        }
        @keyframes slide-top {
            0% {
                transform: translateY(25%);
                opacity: 0.5;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        @media (prefers-color-scheme: dark) {
            background-color: hsl(300, 33%, 19%);
        }
        @media (min-width: 64em) {
            &:nth-child(1) {
                align-self: start;
            }
            &:nth-child(2) {
                align-self: center;
            }
            &:nth-child(3) {
                align-self: end;
            }
        }
        margin-block-end: $box-mg-block;
        padding: 1.8em;
        background-color: var(--c-accent);
        border-radius: $radius;
        transition: all 0.3s ease-in-out;
        &:hover {
            @media (prefers-color-scheme: dark) {
                filter: brightness(1.2)
                    drop-shadow(0 0 0.5em var(--c-user-sub-text));
            }
            filter: saturate(0.8) drop-shadow(0 0 0.5em var(--c-accent));
        }
        > {
            .pp {
                display: inline-block;
                inline-size: 2.8em;
                border-radius: $radius-pp;
                img {
                    vertical-align: middle;
                    max-inline-size: 100%;
                    border-radius: inherit;
                }
            }
            .info {
                margin-inline-start: 0.8em;
                display: inline-block;
                vertical-align: middle;
                > {
                    .name {
                        @media (prefers-color-scheme: dark) {
                            color: var(--c-main-text);
                        }
                        font-weight: 500;
                    }
                    .verify {
                        color: var(--c-user-sub-text);
                    }
                }
            }
            .comment {
                padding-block-start: inherit;
            }
        }
    }
}

footer.attribution {
    background-color: hsla(300, 43%, 22%, 0.75);
    backdrop-filter: blur(25px);
    color: var(--c-main-bg);
    position: fixed;
    inset-inline-start: 50%;
    inset-block-end: 0;
    transform: translateX(-50%);
    padding: 1rem;
    inline-size: 100vw;
    block-size: 10vh;
    font-size: 0.7em;
    margin: auto;
    > div {
        inline-size: fit-content;
        block-size: 100%;
        margin: auto;
        > span {
            float: left;
            word-spacing: 0.1em;
            &:first-child {
                margin-inline-end: 0.8em;
            }
            > a {
                font-weight: bolder;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
        }
    }
}
