@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$font-size: 1.125rem;
$font-size-sm: 0.8em;
$font-size-xs: 0.6em;

$radius: 0.8rem;
$radius-pp: 50%;

:root {
    --c-main-bg: hsl(185, 75%, 39%);
    --c-text: hsl(229, 23%, 23%);
    --c-sub-text: hsl(227, 10%, 46%);
    --c-border-hr: hsla(0, 0%, 59%, 0.35);
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

html,
body {
    block-size: 100vh;
}

body {
    position: relative;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    background: {
        image: url(../../images/bg-pattern-top.svg),
            url(../../images/bg-pattern-bottom.svg);
        position: right calc(47vw + 15%) bottom calc(65vh - 15vw),
            left calc(40vw + 25%) top calc(72vh - 10vw);
        repeat: no-repeat;
        color: var(--c-main-bg);
    }
    color: var(--c-text);
    text-align: center;
}

a {
    color: hsl(185deg 100% 21%);
    &:hover {
        text-decoration: none;
    }
}

article.profile-card {
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-50%, -50%);
    inline-size: 22rem;
    aspect-ratio: 1;
    border-radius: $radius;
    background-color: white;
    box-shadow: 34px 34px 68px hsl(185, 75%, 31%),
        -34px -34px 68px hsl(185, 75%, 47%);
    > {
        .main-section {
            position: relative;
            block-size: 75%;
            > {
                .img-wrapper {
                    position: absolute;
                    inset-inline-start: 50%;
                    inset-block-start: 50%;
                    transform: translate(-50%, -50%);
                    border: 5px solid white;
                    border-radius: $radius-pp;
                    > img {
                        border-radius: $radius-pp;
                        inline-size: 100%;
                        block-size: 100%;
                        object-fit: cover;
                    }
                }
                .background-section {
                    block-size: 50%;
                    background-image: url(../../images/bg-pattern-card.svg);
                    border-radius: $radius $radius 0 0;
                }
                .info-section {
                    position: relative;
                    block-size: 50%;
                    > .box {
                        position: absolute;
                        inset-inline-start: 50%;
                        inset-block-end: 20%;
                        transform: translate(-50%, 20%);
                        > {
                            .name {
                                font-weight: 700;
                                > .age {
                                    color: var(--c-sub-text);
                                    font-weight: 400;
                                }
                            }
                            .country {
                                color: var(--c-sub-text);
                                font-size: $font-size-sm;
                            }
                        }
                    }
                }
            }
        }
        .some-information {
            block-size: 25%;
            display: flex;
            flex-flow: row wrap;
            place-content: center space-evenly;
            border-block-start: 1px solid var(--c-border-hr);
            > .box {
                > {
                    .counter {
                        font-weight: 700;
                    }
                    .title {
                        font-size: $font-size-xs;
                        letter-spacing: 0.12em;
                    }
                }
            }
        }
    }
}

footer.attribution {
    position: fixed;
    inset-inline-start: 50%;
    inset-block-end: 0;
    transform: translateX(-50%);
    padding: 1rem;
    inline-size: 90vw;
    block-size: 10vh;
    font-size: 0.7em;
    margin: auto;
    > div {
        inline-size: fit-content;
        block-size: 100%;
        margin: auto;
        > span {
            float: left;
            word-spacing: 0.1em;
            &:first-child {
                margin-inline-end: 0.8em;
            }
            > a {
                font-weight: bolder;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
        }
    }
}
