@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
    /* Color palette */
    --primary-color-dark-cyan: hsl(158, 36%, 37%);
    --primary-color-very-dark-cyan: hsl(157, 36%, 27%);
    --primary-color-cream: hsl(30, 38%, 92%);
    --neutral-color-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-color-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-color-white: hsl(0, 0%, 100%);
}

$border-radius: 0.5rem;

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
}

::selection {
    background-color: var(--primary-color-dark-cyan);
    color: var(--primary-color-cream);
}

button {
    user-select: none;
}

html,
body {
    overflow: hidden;
    block-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    @media (prefers-color-scheme: dark) {
        background-color: var(--neutral-color-very-dark-blue);
        color: var(--primary-color-cream);
    }
    &,
    main.product-preview-card-component {
        transition: all 0.6s ease-in-out;
    }
    background-color: var(--primary-color-cream);
    color: var(--neutral-color-dark-grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    font: {
        size: clamp(0.875rem, 1vw + 0.8rem, 1.2rem);
        family: "Montserrat", sans-serif;
    }
    line-height: 1.5;
}

h2 {
    color: var(--neutral-color-very-dark-blue);
    font: {
        size: clamp(1.5rem, 1.2vw + 1.5rem, 2.25rem);
        family: "Fraunces", serif;
    }
}

%leaf-container {
    content: "";
    background: url(../../images/tropical-leaves.png) center / cover no-repeat;
    position: absolute;
    inline-size: 200px;
    block-size: 200px;
    z-index: -1;
}

@mixin leaf {
    &::before {
        @media (min-width: 64em) {
            animation: leaf-left-animation 1s
                cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
        }
        @extend %leaf-container;
        inset-inline-start: 0;
        inset-block-start: 50%;
        transform: translateY(-50%) rotate(180deg);
    }
    &::after {
        @media (min-width: 64em) {
            animation: leaf-right-animation 1s
                cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
        }
        @extend %leaf-container;
        inset-inline-end: 0;
        inset-block-start: 0;
    }
}

main.product-preview-card-component {
    @include leaf;
    @media (prefers-color-scheme: dark) {
        background-color: var(--neutral-color-very-dark-blue);
        color: var(--neutral-color-dark-grayish-blue);
        @at-root h2 {
            color: var(--primary-color-cream);
        }
    }
    @media (min-width: 64em) {
        overflow: initial;
        animation: shadow-drop-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            0.5s both;
        flex-flow: column wrap;
        aspect-ratio: 2;
        > {
            * {
                flex: 1 1 50%;
            }
            .picture-wrapper {
                min-inline-size: 50%;
                max-block-size: 100%;
                > picture > img {
                    @media (prefers-color-scheme: dark) {
                        filter: brightness(0.9);
                        &:hover {
                            filter: brightness(1);
                        }
                    }
                    border-start-start-radius: $border-radius;
                    border-end-start-radius: $border-radius;
                }
            }
            .product-info {
                padding-inline: 2.25em;
                overflow-y: auto;
                inline-size: 50%;
                row-gap: initial;
            }
        }
    }
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    inline-size: min(48em, 90%);
    block-size: min(48em, 80%);
    background-color: var(--neutral-color-white);
    border-radius: $border-radius;
    > .picture-wrapper {
        max-inline-size: 100%;
        block-size: auto;
        > picture {
            > img {
                inline-size: 100%;
                block-size: 100%;
                object-fit: cover;
            }
        }
    }
    > .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 1.25em;
        row-gap: 1.25em;
        > * {
            margin: 0;
        }
        > {
            .category {
                text-transform: uppercase;
                letter-spacing: 0.3em;
                font-size: 0.75rem;
                color: var(--neutral-color-dark-grayish-blue);
            }
            .title {
                @media (min-width: 64em) {
                    line-height: 1;
                }
            }
            .price-wrapper {
                display: flex;
                align-items: center;
                > span {
                    display: inline-block;
                    &.price {
                        font: {
                            family: "Fraunces";
                            size: 1.75em;
                        }
                        color: var(--primary-color-dark-cyan);
                    }
                    &.old-price {
                        margin-inline-start: 1.5em;
                        font-size: 0.75em;
                        text-decoration: line-through solid
                            var(--neutral-color-dark-grayish-blue);
                        color: var(--neutral-color-dark-grayish-blue);
                    }
                }
            }
            .button-wrapper {
                min-block-size: calc(10vmin + 0.5em);
                > button.add-to-cart {
                    @media (prefers-color-scheme: dark) {
                        color: var(--primary-color-cream);
                    }
                    @media (min-width: 64em) {
                        font-size: inherit;
                        > .icon {
                            inline-size: 1.5rem;
                        }
                    }
                    appearance: none;
                    border: none;
                    background-color: var(--primary-color-dark-cyan);
                    color: var(--neutral-color-white);
                    border-radius: $border-radius;
                    inline-size: 100%;
                    block-size: 100%;
                    font-weight: 700;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
                    &:hover {
                        background-color: var(--primary-color-very-dark-cyan);
                    }
                    > .icon {
                        color: var(--primary-color-dark-cyan);
                        vertical-align: text-bottom;
                        margin-inline-end: 0.5em;
                    }
                }
            }
        }
    }
}

@keyframes leaf-left-animation {
    to {
        inset-inline-start: -100px;
    }
}

@keyframes leaf-right-animation {
    100% {
        inset-inline-end: -100px;
    }
}

@keyframes shadow-drop-center {
    to {
        box-shadow: -10px -10px 50px 30px hsla(158, 36%, 37%, 0.1),
            10px 10px 50px 30px hsla(158, 36%, 37%, 0.1);
    }
}

.attribution {
    flex: 0 0 2rem;
    inline-size: 90%;
    font-size: 0.7em;
    position: relative;
    margin-inline: auto;
    span {
        inline-size: fit-content;
        position: absolute;
        inset-inline-start: 50%;
        inset-block-start: 50%;
        transform: translate(-50%, -50%);
        > a {
            font-family: "Fraunces", serif;
            color: var(--primary-color-dark-cyan);
            letter-spacing: 0.1em;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
