<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Frontend Mentor | Clipboard landing page</title>
        <meta name="author" content="https://www.linkedin.com/in/rehberbey/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" href="../src/public/css/normalize.css" />
        <link rel="stylesheet" href="../src/public/css/main.css" />
        <link rel="stylesheet" href="../dist/css/index.css" />

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../src/public/image/favicon-32x32.png"
        />
    </head>
    <body>
        <noscript
            ><iframe
                style="inline-size: 100%; border: none"
                src="noscript.html"
            ></iframe
        ></noscript>

        <header>
            <img
                src="../src/public/image/logo.svg"
                alt="logo"
                class="brand-logo"
            />
        </header>

        <main>
            <section class="showcase">
                <h1>A history of everything you copy</h1>
                <p>
                    Clipboard allows you to track and organize everything you
                    copy. Instantly access your clipboard on all your devices.
                </p>
                <menu class="download-app">
                    <li>
                        <button class="install-ios-app">
                            Download for iOS
                        </button>
                    </li>
                    <li>
                        <button class="install-mac-app">
                            Download for Mac
                        </button>
                    </li>
                </menu>
            </section>
            <section class="keep-track">
                <h2>Keep track of your snippets</h2>
                <p>
                    Clipboard instantly stores any item you copy in the cloud,
                    meaning you can access your snippets immediately on all your
                    devices. Our Mac and iOS apps will help you organize
                    everything.
                </p>
                <div class="lower">
                    <div class="lower-left">
                        <img
                            src="../src/public/image/image-computer.png"
                            alt="computer"
                            class="computer-image"
                        />
                    </div>
                    <div class="lower-right">
                        <div class="feature">
                            <h3>Quick Search</h3>
                            <p>
                                Easily search your snippets by content,
                                category, web address, application, and more.
                            </p>
                        </div>
                        <div class="feature">
                            <h3>iCloud Sync</h3>
                            <p>
                                Instantly saves and syncs snippets across all
                                your devices.
                            </p>
                        </div>
                        <div class="feature">
                            <h3>Complete History</h3>
                            <p>
                                Retrieve any snippets from the first moment you
                                started using the app.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="accessibility">
                <h2>Access Clipboard anywhere</h2>
                <p>
                    Whether you’re on the go, or at your computer, you can
                    access all your Clipboard snippets in a few simple clicks.
                </p>
                <img
                    src="../src/public/image/image-devices.png"
                    alt="Images of different devices"
                />
            </section>

            <section class="tools">
                <h2>Supercharge your workflow</h2>
                <p>We’ve got the tools to boost your productivity.</p>
                <div class="container">
                    <div class="tool">
                        <img
                            src="../src/public/image/icon-blacklist.svg"
                            alt="icon-blacklist"
                        />
                        <h3>Create blacklists</h3>
                        <p>
                            Ensure sensitive information never makes its way to
                            your clipboard by excluding certain sources.
                        </p>
                    </div>
                    <div class="tool">
                        <img
                            src="../src/public/image/icon-text.svg"
                            alt="icon-text"
                        />
                        <h3>Plain text snippets</h3>
                        <p>
                            Remove unwanted formatting from copied text for a
                            consistent look.
                        </p>
                    </div>
                    <div class="tool">
                        <img
                            src="../src/public/image/icon-preview.svg"
                            alt="icon-preview"
                        />
                        <h3>Sneak preview</h3>
                        <p>
                            Quick preview of all snippets on your Clipboard for
                            easy access.
                        </p>
                    </div>
                </div>
            </section>

            <div class="brands">
                <div class="brand">
                    <img
                        src="../src/public/image/logo-google.png"
                        alt="Google Logo"
                    />
                </div>
                <div class="brand">
                    <img
                        src="../src/public/image/logo-ibm.png"
                        alt="IBM Logo"
                    />
                </div>
                <div class="brand">
                    <img
                        src="../src/public/image/logo-microsoft.png"
                        alt="Microsoft Logo"
                    />
                </div>
                <div class="brand">
                    <img src="../src/public/image/logo-hp.png" alt="HP Logo" />
                </div>
                <div class="brand">
                    <img
                        src="../src/public/image/logo-vector-graphics.png"
                        alt="Vector Graphics Logo"
                    />
                </div>
            </div>

            <section class="install">
                <h2>Clipboard for iOS and Mac OS</h2>
                <p>
                    Available for free on the App Store. Download for Mac or
                    iOS, sync with iCloud and you’re ready to start adding to
                    your clipboard.
                </p>
                <menu class="download-app">
                    <li>
                        <button class="install-ios-app">
                            Download for iOS
                        </button>
                    </li>
                    <li>
                        <button class="install-mac-app">
                            Download for Mac
                        </button>
                    </li>
                </menu>
            </section>
        </main>

        <footer>
            <div class="container">
                <div class="logo-wrapper">
                    <img
                        src="../src/public/image/logo.svg"
                        alt="logo"
                        class="brand-logo"
                    />
                </div>
                <div class="menu">
                    <div class="item">
                        <a href="#">FAQs</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="item">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Press Kit</a>
                    </div>
                    <div class="item">
                        <a href="#">Install Guide</a>
                    </div>
                </div>
            </div>
            <div class="social-icons">
                <a href="#"
                    ><img
                        src="../src/public/image/icon-facebook.svg"
                        alt="icon-facebook" /></a
                ><a href="#"
                    ><img
                        src="../src/public/image/icon-twitter.svg"
                        alt="icon-twitter" /></a
                ><a href="#"
                    ><img
                        src="../src/public/image/icon-instagram.svg"
                        alt="icon-instagram"
                /></a>
            </div>
            <div class="attribution">
                <span
                    >Challenge by
                    <a
                        href="https://www.frontendmentor.io?ref=challenge"
                        target="_blank"
                        >Frontend Mentor</a
                    >.</span
                >
                <span
                    >Coded by
                    <a href="https://github.com/rehberbey" target="_blank"
                        >Furkan Rehber</a
                    >.</span
                >
            </div>
        </footer>

        <script src="../src/public/js/modernizr-3.6.0.min.js"></script>
    </body>
</html>
